
<%layout("/layouts/boilerplate")%>
<body>
    <div class="row">
        <div class="col-8 offset-2">
            <h1>Edit your listing</h1>
            <form action="/listings/<%=listing._id%>?_method=PUT" method="post" class="needs-validation" novalidate enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" name="listing[title]" value="<%=listing.title%>" class="form-control" required>
                    <div class="valid-feedback">Title looks good</div> 
                </div>
              
              <div class="mb-3">
                <label for="decsription" class="form-label">Description</label>
                <textarea name="listing[description]"  id="desc" rows="10" cols="30" class="form-control" required><%=listing.description%></textarea>
                <div class="invalid-feedback">Please enter a brief description</div>
              </div>
         
                 <div class="mb-3">
                  Original Listing Image <br>
                  <img src="<%=originalImageUrl %>" alt="#" height="200px" width="300px">
                 </div>
               <div class="mb-3">
                <label for="image" class="form-label">Upload New Image</label>
                <input type="file" name="listing[image]" class="form-control">
             </div>
             
              <div class="mb-3">
                <label for="price" class="form-label">Price</label>
                <input type="text" name="listing[price]" value="<%=listing.price%>" class="form-control" required>
                <div class="invalid-feedback">Price should be valid</div> 
              </div>
        
          <div class="mb-3">
            <label for="country" class="form-label">Country</label>
            <input type="text" name="listing[country]" value="<%=listing.country%>" class="form-control" required>
            <div class="invalid-feedback">Country should be valid</div> 
          </div>      
              
                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input type="text" name="listing[location]" value="<%=listing.location%>" class="form-control" required>
                    <div class="invalid-feedback">Location should be valid</div> 
                </div>
               
              
               <button class=" btn edit-btn mt-3 mb-3" style="color:white">Edit</button>
             
            </form>
        </div>
       </div>
   
</body>
